<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Cantidad:</label>
            <input type="number" [(ngModel)]="cartProduct.quantity" name="quantity" class="form-control" placeholder="Cantidad ">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="notify()">Agregar</button>
</div>