<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.creative-tim.com">
                        Template de Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
           {{test | date: 'yyyy'}}, Sitio creado para consumir API REST - accesible desde <a href="https://github.com/germanstereo/Spring_Boot/tree/develop/carrito-de-compras">Github</a>
        </div>
    </div>
</footer>
